exp/data/*
output/
exp/weights/*
.cache/
html_tmp/
xml/
*.pyc
tmp/
.idea/
!exp/data/README.md
!exp/weights/README.md
*.png
.ipynb_checkpoints/
pdfs/
__pycache__/
html/
*.swp
*.DS_Store
postgres-data/
redis_data/
runs
final_data
build/
dist/
*.egg-info/
services/tableextractions/build/
semantic_segmentation/data/
*/*/data/
cosmos/database/*.ini
