click
pymongo
pandas
pdfminer.six
chardet
pillow
joblib
falcon
sqlalchemy
gunicorn
requests
redis==3.2.0
gevent
pytest
torch
torchvision
numpy==1.15.4
pyyaml
hyperyaml
scikit-image
bitmath
tensorboardX
tensorboard
tqdm
opencv-python
pascal-voc-writer
imgaug
dataclasses
matplotlib
xgboost==0.90
sklearn
bs4
pytesseract
setuptools
alembic
msgpack
dask
distributed
pyarrow
fsspec>=0.3.3
pikepdf

