PyPDF2
alembic
bitmath
bs4
camelot-py[cv]
chardet
click
dask
dataclasses
distributed
falcon
fsspec>=0.3.3
gevent
gunicorn
hyperyaml
imgaug
joblib
matplotlib
msgpack
mysqlclient
numpy==1.15.4
opencv-python
pandas
pascal-voc-writer
pdfminer.six
pillow
pyarrow
pymongo
pytesseract
pytest
pyyaml
redis==3.2.0
requests
scikit-image
setuptools
sklearn
sqlalchemy
tensorboard
tensorboardX
torch
torchvision
tqdm
xgboost==0.90
