pillow
falcon
mysqlclient
sqlalchemy
gunicorn
pytest
torch
torchvision
numpy==1.15.4 
pyyaml 
hyperyaml
scikit-image
bitmath
tensorboardX 
tensorboard 
tqdm 
opencv-python 
click
pascal-voc-writer 
imgaug
sqlalchemy
dataclasses
matplotlib
pandas
xgboost
sklearn
bs4
pytesseract

