click
pandas
pdfminer.six
chardet
pillow
joblib
click
mysqlclient
sqlalchemy
requests
gevent
pillow
falcon
mysqlclient
sqlalchemy
gunicorn
pytest
torch
torchvision
numpy==1.15.4 
pyyaml 
hyperyaml
scikit-image
bitmath
tensorboardX 
tensorboard 
tqdm 
opencv-python 
click
pascal-voc-writer 
imgaug
sqlalchemy
dataclasses
matplotlib
pandas
xgboost==0.90
sklearn
bs4
pytesseract
flower
setuptools
alembic
jupyter
jupyterlab
dask
