question_answering_backend/
postprocess/
ingestion/test_docs/
semantic_segmentation/data
ingestion/ingest/process/detection/weights
ingestion/ingest/process/detection/data
ingestion/ingest/process/detection/src/runs
db/
*tmp*

