opencv-python
pascal-voc-writer
imgaug
dominate
pytesseract
pandas
fonduer==0.5.0
lxml
loguru
pytest
click

# {{ for im2latex

tensorflow
numpy
scipy
nltk
pillow
distance
six
click
matplotlib
scikit-image
imageio
Shapely

# }}

# {{ for latex_parser

naked

# }}
tensorboardX
redis
pdfminer.six
stanfordnlp
psycopg2
